/* Create the diamond container */
#diamond-container {
  position: absolute;
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  font-weight: 700;
}

/* Remove default spacing */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
